<div class="center">
  <% if user_signed_in? %>
  ...
  <% else %>
  <h1>Welcome to Feedme Community</h1>

  <h2>
    Your first time?
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>