<%= form_for image, url: image_likes_path(image), remote: true, method: :post do |f| %>
<p><%= image.likes.size %></p>
<%= button_tag type: 'submit' do %>
        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    <% end %>
<% end %>