<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= button_tag type: 'submit', class: "btn btn-primary" do %>
        <i class="fa fa-eye" aria-hidden="true"></i> Follow
    <% end %>
<% end %>