/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@mixin authenticate_section{
	display: inline-block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
		text-align: left;
}

html{
		background: transparent;
		border: 0;
		font-size: 100%;
		margin: 0;
		outline: 0;
		padding: 0;
		vertical-align: baseline;
}

body{
	display: inline-block;
	text-align: center;
	width: 100%;
	#sign_up{		
		@include authenticate_section;
	}
	#sign_in{
		@include authenticate_section;
	}
	.navbar{
		background: #1d2152;
		border: none;
	}
}

a{
	&:hover{
		background-color: transparent;
		text-decoration: none;
		cursor: pointer;
	}
}


/*-----------------------------------------------------------------------------*/
/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: #fbfbfb;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #fff;
}

footer a, footer a:hover, footer a:visited {
	color: #fff;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float: left;
	margin-left: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
}

input {
	height: auto !important;
}

select#image_created_at_1i, select#image_created_at_2i, select#image_created_at_3i, select#image_created_at_4i, select#image_created_at_5i {
	width: 10%;
}

form{
	display: inline-block;
	margin-top: 10px;
	.search-box{
		background-color: white;
		border-radius: 3px;
		padding: 5px 5px;
		width: 200px;
		margin-bottom: 0;
		vertical-align: center;
		color: black;
	}
}

nav{
	display: inline-block;
	float: right;
}

header.navbar.navbar-fixed-top.navbar-inverse{
	background-color: #1d2152;
	display: block;
}

footer.navbar.navbar-fixed-bottom.navbar-inverse{
	width: 100%;
	margin: 0 0;
	background-color: #1d2152;
}

div.container.main-content{
	padding-bottom: 45px;
}

.images-list{
	img{
		width: 300px;
		height: 300px;
	}
}

.post{
	width: 600px;
	margin: 20px auto 45px auto;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	box-shadow: 0 1px 0 1px #d0d0d0;
	display: inline-block;
	.post-info{
		width: 100%;
		padding: 10px 10px;
		display: inline-block;
		.user-email{
			display: inline-block;
			float: left;
			margin-left: 20px;
			margin-top: 20px;
		}
		.time-stamp{
			display: inline-block;
			float: right;
			color: #c5c5c5;
			margin-top: 20px;
		}
		.avatar{
			display: inline-block;
			float: left;
			img{
				border-radius: 50%;
				width: 60px;
				height: 60px;
			}
		}
	}
	.image{
		width: 100%;
		img{
			width: 100%;
			height: 500px;
			display: inline-block;
		}
	}
}

img.user-avatar{
	border-radius: 50%;
	width: 60px;
	height: 60px;
}

.edit_user{
	img{
		height: 500px;
		width: 500px;
	}
}